<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <!-- for voice recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <queries>
        <package android:name="com.google.android.googlequicksearchbox" />
    </queries> <!-- Jason's Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mainlogo"
        android:label="Enchante"
        android:roundIcon="@drawable/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.madAssignment1"
        tools:targetApi="31" >

        <service android:name=".TimerService" android:enabled="true" android:exported="false"/>
        <receiver
            android:name=".OrderWidget" android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/order_widget_info" />
        </receiver>

        <receiver
            android:name=".OrderWidget$TimerUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="sg.edu.np.mad.mad_p01_team4.UPDATE_WIDGET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".viewallproduct"
            android:exported="true" />
        <activity
            android:name=".favorites"
            android:exported="true" />
        <activity
            android:name=".orderhistory"
            android:exported="true" />
        <activity
            android:name=".ongoingorders"
            android:exported="true" />
        <activity
            android:name=".chatbot"
            android:exported="false" />
        <activity
            android:name=".registerPage"
            android:exported="true" />
        <activity
            android:name=".loginPage"
            android:exported="true" />

        <activity
            android:name=".PaymentOptionsActivity"
            android:exported="true" />

        <activity android:name=".CardPaymentActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGJRH2YB6yHLy9FVCdhA0MV2H6xnauKB0" />
    </application>

</manifest>